[user]
	email = ernest@withpersona.com
	name = Ernest Chiu
[fetch]
  prune = true
[rebase]
  autostash = true ; automatically stash before rebasing
  autosquash = true ; automatically handle git commit --fixup/--squash
[core]
	excludesfile = /Users/ernest/.gitignore_global
  editor = nvim
[pager]
	branch = false
[diff]
  tool = diffview
[merge]
  tool = diffview
[mergetool]
  prompt = false
  keepBackup = false
[mergetool "diffview"]
  cmd = nvim -n -c "DiffviewOpen" "$MERGE"
