[user]
	email = ernest@withpersona.com
	name = Ernest Chiu
[fetch]
  prune = true
[rebase]
  autostash = true ; automatically stash before rebasing
  autosquash = true ; automatically handle git commit --fixup/--squash
[core]
	excludesfile = /Users/ernest/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[pager]
	branch = false
